.current-temp-info {
  border-radius: 4px;
  justify-self: end;
}// end current-temp-info
.current-icon {
  .svg-inline--fa {
    font-size: 2.125em;
    color: $big-icon;

    @include for-tablet {
      font-size: 3em;
    }
  }
  .fa-sun {
    margin-top: 0;
    font-size: 2.750em;
    color: $yellow;

    @include for-tablet {
      font-size: 3.625em;
    }
  }
  .fa-bolt {
    color: $fabold-icon;
  }
  .fa-snowflake {
    color: $light-purple;
  }
 } // end current-icon

.text-temp-info {
  line-height: 0.8;
  margin-left: 0.25rem;
  font-size: 0.75em;
  font-weight: 600;
  color: $text-secondary;

  @include for-tablet {
   margin-top: 0.4rem;
   line-height: 0.8;
   font-size: 1em;
  }
}
.current-temp {
  margin-left: 0.25rem;
  margin-bottom: 0.3125rem;
  font-size: 2em;
  font-weight: 500;
  @include for-tablet {
    font-size: 2.5em;
  }
}
