.sun-times {
  text-align: center;
  display:grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  .sun-time {
    align-self:center;
    font-size: 0.8em;
    font-weight: 500;
    // @mixin media queries
    @include for-tablet {
      font-size: 1em;
    }
  }
  .sun-icon {
    color: $orange;
    display: inline-flex;
    align-items: center;
    .fa-sun {
      padding-right: 0.125rem;

      @include for-tablet {
        font-size: 1.35em;
      }
    }
    .fa-arrow-up {
      font-size: 0.656em;
      color: $text-secondary;

      @include for-tablet {
        font-size: 0.88em;
      }
    }
    .fa-arrow-down {
      font-size: 0.625em;
      color: $text-secondary;
  

      @include for-tablet {
        font-size: 0.9em;
      }
    }
    .sun-text {
      font-size: 0.625em;
      font-weight: 600;
      color: $text-main;
      padding-left: 0.25rem;

      @include for-tablet {
        font-size: 0.9em;
      }
    }
  } // end sun-icon
  .sun-details-a {
    justify-self: end;
    padding-right: 0.875rem;
    border-right-style: solid;
    border-right-color: $text-main;
  }
  .sun-details-b {
    justify-self: start;
    padding-left: 0.875rem;
  }
} // end sun-times
