
.city-country-name {
  font-size: 1.5em;
  margin-bottom: 0.3125rem;
  // @mixin media queries
  @include for-tablet {
    font-size: 1.6em;
  }
}
.current-date {
  font-weight: 900;
  font-size: 1em;

  @include for-tablet {
    font-size: 1.1em;
    line-height: 0.8;
  }
}
.weather-description {
  font-size: 0.9em;
  font-weight: 800;
  color: $text-tertiary;

  @include for-tablet {
    font-size: 1em;
  }
}
