.error-message {
  margin-bottom: 56px;
  //background-color: $light-purple;
  border-radius: 26px;
  margin-top: 40px;
  text-align: center;
  .error-text {
    margin: 0 auto;
    padding: 16px 16px;
    width: 300px;
    h1, h2, p {
    color: white;
    }
    h1 {
      font-weight: 700;
    }
    h2 {
      font-size: 22px;
      font-weight: 600;
    }
    p {
      font-weight: 500;
      opacity: 0.6;
    }
  }
}
