.error-message {
  display: grid;
  align-items: center;
  text-align: center;
  height: 50vh;
  .error-text {
    place-self: center;
    h1, h2, p {
    color: white;
    }
    h1 {
      font-weight: 700;
    }
    h2 {
      font-size: 1.375em;
      font-weight: 400;
    }
    p {
      font-weight: 500;
      opacity: 0.6;
    }
  }
  .btn-action .go-back{
    margin-top: 1rem;
    padding: 3px 28px;
    border-radius: 4px;
    font-size: 0.9em;
  }
  .btn-action .go-back:focus{
    box-shadow: none;
    background-color: #625a71;

  }
}
