.landing-page {
  margin-top: 60px;
text-align: center;
  svg {
  height: 320px;
  width: 320px;
  }
  .footer-text {
    margin-top: 60px;
    padding: 0 16px;
     p {
     color: white;
     font-size: 10px;
     opacity: 0.6;
    }
  }
}
