.landing-page {
  display: grid;
  align-items: center;
  height: 80vh;
  svg {
   place-self: center;
    height: 20rem;
    width: 20rem;
    // @mixin media queries
    @include for-tablet {
      height: 27rem;
      width: 24rem;
    }
    @include for-laptop {
       height: 28rem;
       width: 28rem;
    }
    @include for-laptop-l {
       height: 36rem;
       width: 33rem;
    }
  } // end svg
}
