@import './_colors';
@import './media_queries';

.search-bar {
  padding-top: 2.5rem;
  height: 5.5rem;
  .search-bar-items {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;

  }

  .form-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
  }

  .search-icon {
    font-size: 1em;
    color: $text-main;
    margin-right: 1rem;
  }
  #city {
    padding-left: 0.625rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 1.88rem;
    width: 15rem;
    border: none;
    border: 0;
    background: white;
    // @mixin media queries
    @include for-tablet {
      height: 1.95rem;
      width: 14.3125rem;
    }
    @include for-laptop {
      height: 2.1rem;
      width: 17.875rem;
    }
  } // end city
  #city::placeholder {
    font-weight: 600;
    font-size: 0.875em;
    color: $gray;
    padding-left: 0.25rem;
  }
} // end search-bar

#city:hover {
  box-shadow: none !important;
  outline: none !important;
  border-color: none !important;
}
#city:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: none !important;
}
.input-field:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}
.input-field:hover {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}

