// add Bootstrap and override before import default body-bg color
$body-bg: #545598 ;

// and add custom color for btn, text and icons following my Figma layout

// btn-color = btn bg
// btn-hover: change color onClick
// text-main: text color for relevant infos as city name, temperatures ect
// text-secondary: text-main with opacity 60%
// text-tertiary: text-main with opacity 40%
// icon-color: for icons on white bg (icon-color same than body-bg)
// light-purple: for icons on body-bg color
// yellow: for sun color
// orange: for icons sunset-sunrise
// gray: for search bar placefolder text
// dark-gray: for btn text on hover
$theme-colors: (
"btn-color": #FB3089,
"btn-hover": #B51A5E,
"text-main": #2846A6,
"text-secondary": rgba(40,70,166,0.6),
"text-tertiary": rgba(40,70,166,0.4),
"icon-color": #545598 ,
"light-purple": #C0B4FE,
"yellow": #F9D206,
"orange": #F9B406,
"gray": #C0BCBC,
"dark-gray": #999191,
);
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// font weight global variables
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;

/* set custom behaviours */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, p {
  font-family: 'Inter', sans-serif;
  color: theme-color("text-main");
}
